[Desktop Entry]
Type=Application
Version=20100725
Name=netcfgfx
GenericName=Network configuration
Comment=A GUI for netcfg2
Icon=/usr/share/pixmaps/netcfgfx.png
TryExec=netcfgfx
Exec=sudo netcfgfx
Categories=Qt;System;
