src/
pkg/
*.bin
*.deb
*.gz
*.lzma
*.rpm
*.run
*.tar
*.tar.bz2
*.tar.gz
*.tgz
*.zip
*.xz
dwm
otf-adobe-garamond-pro/adobe-garamond-pro-regular.otf
otf-gill-sans-std/gill-sans-std.otf
irssi-script-*/*.pl
words-darkcode/darkc0de.lst
android-sources-10/pack.py
*.sig
python-tidal
python-tidal-0.6.x-git-v0.6.8.r1.gd7a77f3-1-any.pkg.tar.zst
